.moldura-livro {
    margin: 10px 0px 10px 0px;
    height: 11rem;
    width: auto !important;
    max-width: 100%;
}

.capa-livro {
    margin: 10px 0px 10px 0px;
    max-height: 100%;
    max-width: 100%;
}

.capa-livro-pesquisa {
    margin: 0px 0px 20px 0px;
    height: 100px;
    width: auto;
}